<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            /* width  height 设置的是内容区的大小 */
            width: 100px;
            height: 100px;
            background-color: rebeccapurple;
            border-color: blue;
            /* 加上边框宽度后 盒子变大 */
            border-width: 10px;
            border-style: solid;
        }
    </style>
</head>
<body>
    <div class="box1">我是一个div</div>
</body>
</html>